---
title: iOS Documentation

language_tabs:
  - objective_c: Objective-C
  - swift: Swift

toc_footers:
  - <a href='https://www.wootric.com/'>Sign Up</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>

search: true
---
<%= partial "includes/install_ios" %>
<%= partial "includes/ios_custom_fields" %>
<%= partial "includes/ios_view_config" %>
<%= partial "includes/ios_custom_language" %>
<%= partial "includes/ios_custom_thank_you" %>
