---
title: iOS SDK Documentation

language_tabs:
  - objective_c: Objective-C
  - swift: Swift 2
  - swift_three: Swift 3

toc_footers:
  - © 2018 Wootric&nbsp; | &nbsp;Docs powered by <a href='http://github.com/tripit/slate'>Slate</a>

search: true
---
<%= partial "includes/install_ios" %>
<%= partial "includes/ios_custom_fields" %>
<%= partial "includes/ios_view_config" %>
<%= partial "includes/ios_targeted_sampling" %>
<%= partial "includes/ios_delegate" %>
<%= partial "includes/ios_custom_language" %>
<%= partial "includes/ios_custom_thank_you" %>
<%= partial "includes/ios_samples" %>
<%= partial "includes/ios_troubleshooting" %>
<%= partial "includes/ios_integrations" %>
